[submodule "deps/benchmark"]
	path = deps/benchmark
	url = https://github.com/google/benchmark
[submodule "deps/benchmark/googletest"]
	path = deps/benchmark/googletest
	url = https://github.com/google/googletest
